{% extends 'main/base.html' %}

{% block main %}

    <div class="user-count">
        <h2>Total Number of Users: <p class="number">{{ user_count }}</p></h2>
        <h2>Total Number Of Registration: <p class="number">{{ register_count }}</p></h2>
    </div>
    <div class="user-table">
        <div class="usergrid">
            <div>Username</div>
            <div>Email</div>
            <div>Registered</div>
        </div>
        {% for name in User %}
        <div class="userinfo"> 
            <div>
                {{ name.username }}
            </div>
            <div>
                {{ name.email }}
            </div>
            <div>
                {{ name.register.type }}
            </div>
        </div> 

        {% endfor %} 
    </div>
{% endblock main %}
  

    